// this file is @generated
{% set ns = namespace(models=[]) -%}
{% for _, type in api.types | items %}{% set ns.models = ns.models + [type.name | to_upper_camel_case] %}{% endfor -%}
{% for _, type in api.types | items -%}
{% set type_name = type.name | to_upper_camel_case -%}
{% set module = "./" ~ (type.name | to_lower_camel_case) ~ ".js" -%}
{% if type.kind == "alias" -%}
export type { {{ type_name }} } from "{{ module }}";
{% elif type.kind in ["string_enum", "integer_enum"] -%}
export { {{ type_name }}, {{ type_name }}Serializer } from "{{ module }}";
{% else -%}
{% set names = [type_name] -%}
{% if type.kind == "struct_enum" -%}
{% for variant in type.variants -%}
{% set alias = type_name ~ (variant.name | to_upper_camel_case) -%}
{% if alias not in ns.models %}{% set names = names + [alias] %}{% endif -%}
{% endfor -%}
{% endif -%}
export type { {{ names | join(", ") }} } from "{{ module }}";
export { {{ type_name }}Serializer } from "{{ module }}";
{% endif -%}
{% else -%}
export {};
{% endfor %}
