{% from "types/macros.go.jinja" import go_field_type, go_json_tag, go_deprecated, go_ident, go_export, go_type -%}
{% set type_name = go_ident(type.name) -%}
{% set rendered_types %}{% for field in type.fields %}{% if field.flatten %}{{ go_type(field.type) }}{% else %}{{ go_field_type(field, patch_body and sdk.patch_nullable) }}{% endif %} {% endfor %}{% endset -%}
package {{ sdk.package_name }}
{% if "time.Time" in rendered_types and "json.RawMessage" in rendered_types %}
import (
	"encoding/json"
	"time"
)
{% elif "time.Time" in rendered_types %}
import "time"
{% elif "json.RawMessage" in rendered_types %}
import "encoding/json"
{% endif %}
{{ doc_comment }}
{% if type.deprecated %}{{ go_deprecated("type") }}
{% endif %}type {{ type_name }} struct {
{% for field in type.fields %}{% if not loop.first %}
{% endif %}{% if field.description is defined %}{{ field.description | to_doc_comment(style="go") }}
{% endif %}{% if field.type.is_datetime() %}// RFC 3339 timestamp.
{% endif %}{% if field.deprecated %}{{ go_deprecated("field") }}
{% endif %}{% if field.flatten %}{{ go_type(field.type) }}{% else %}{{ go_export(field.name) }} {{ go_field_type(field, patch_body and sdk.patch_nullable) }} {{ go_json_tag(field) }}{% endif %}
{% endfor %}}
