// this file is @generated
{% from "types/macros.rs.jinja" import rust_type, union_enum, union_imports, union_name -%}
{% if type.description is defined -%}
{% set doc_comment = type.description | to_doc_comment(style="rust") -%}
{% else -%}
{% set doc_comment = "" -%}
{% endif -%}

{% if type.kind == "struct" -%}
    {% include "types/struct.rs.jinja" -%}
{% elif type.kind == "string_enum" -%}
    {% include "types/string_enum.rs.jinja" -%}
{% elif type.kind == "integer_enum" -%}
    {% include "types/integer_enum.rs.jinja" -%}
{% elif type.kind == "struct_enum" -%}
    {% include "types/struct_enum.rs.jinja" -%}
{% elif type.kind == "string_alias" -%}
    {% include "types/string_alias.rs.jinja" -%}
{% elif type.kind == "alias" -%}
    {% for c in referenced_components -%}
    use super::{{ c | to_upper_camel_case }};
    {% endfor -%}
    {{ union_imports() }}
    {% set type_name = type.name | to_upper_camel_case -%}
    {% if type.target.is_union() -%}
    {{ doc_comment }}
    {{ union_enum(type_name, type.target) }}
    {% else -%}
    {% set union = union_name(type_name, "item", type.target) -%}
    {% if recursive_alias -%}
    {# A type alias cannot name itself, so a recursive one is a transparent newtype. #}
    {{ doc_comment }}
    #[derive(Clone, Debug, PartialEq, serde::Deserialize, serde::Serialize)]
    #[serde(transparent)]
    pub struct {{ type_name }}(pub {{ rust_type(type.target, union) }});
    {% else -%}
    {{ doc_comment }}
    pub type {{ type_name }} = {{ rust_type(type.target, union) }};
    {% endif -%}
    {% if union %}{{ union_enum(union, type.target) }}{% endif %}
    {% endif -%}
{% else -%}
    compile_error!("{{ type.kind }} types are not supported by this codegen template");
{% endif %}
