{% import "types/macros.java.jinja" as m -%}
// This file is @generated
{% set ty_name = type.name | to_upper_camel_case -%}
{{- m.check_name(ty_name) -}}
{% set ns = namespace(names=[], values=[]) -%}
{% for varname, value in type.variants %}{% set ns.names = ns.names + [varname] %}{% set ns.values = ns.values + [value ~ "L"] %}{% endfor -%}
{% set owner = "schema `" ~ type.name ~ "`" -%}
{% set members = ns.names | idents("shouty", "java", owner) -%}
{% set values = ns.values -%}
{% set integer = true -%}
{% include "types/open_enum.java.jinja" %}
