{% import "types/macros.java.jinja" as m -%}
// This file is @generated
{% set ty_name = type.name | to_upper_camel_case -%}
{% set owner = "schema `" ~ type.name ~ "`" -%}
{% set members = type.values | enum_names | idents("shouty", "java", owner) -%}
{% set ns = namespace(values=[]) -%}
{% for value in type.values %}{% set ns.values = ns.values + [value | tojson] %}{% endfor -%}
{% set values = ns.values -%}
{% include "types/open_enum.java.jinja" %}
