{% import "types/macros.java.jinja" as m -%}
{% set type_name = type.name | to_upper_camel_case -%}
{#- The visitor interface nested in the union, renamed when the union itself is `Visitor`. -#}
{% set visitor = "VisitorVisitor" if type_name == "Visitor" else "Visitor" -%}
{% set owner = "schema `" ~ type.name ~ "`" -%}
{% set disc = type.discriminator_field -%}
{% set disc_getter = disc | ident("camel", "java") -%}
{% set disc_getter = disc_getter ~ "_" if disc_getter in ["builder", "toBuilder", "hashCode", "toString", "getClass", "toJson", "copy", "getValue"] else disc_getter -%}
{% set ns = namespace(names=[]) -%}
{% for variant in type.variants %}{% set ns.names = ns.names + [variant.name] %}{% endfor -%}
{% set ns.classes = [] -%}
{#- A nested class shadows the types of the same name that the union itself uses. -#}
{% for cls in (ns.names + ["unrecognized"]) | idents("pascal", "java", owner) -%}
{% set shadowed = cls in ["String", "Object", "Override", "Deprecated", "Utils", "Objects", "List",
    "Map", "Set", "Optional", "ArrayList", "HashMap", "LinkedHashMap", "LinkedHashSet", "BigDecimal", "BigInteger",
    "OffsetDateTime", "URI", "Visibility", "JsonAnyGetter", "JsonAnySetter", "JsonAutoDetect",
    "JsonIgnoreProperties", "JsonInclude", "JsonProperty", "JsonSubTypes", "JsonTypeInfo",
    "JsonTypeName", "JsonUnwrapped", "JsonProcessingException", "JsonValue", "TypeReference",
    "DeserializationContext", "JsonNode", "JsonDeserialize", "IOException", "Builder", "Content",
    "Collections", "Unions", "JsonField", "Visitor"] -%}
{% set ns.classes = ns.classes + [cls ~ "Variant" if shadowed else cls] -%}
{% endfor -%}
{% set classes = ns.classes -%}
{#- What `Visitor` receives per variant: the model a `$ref` variant wraps, else the variant. -#}
{% set ns.visited = [] -%}
{% for variant in type.variants -%}
{% set data_ty = variant.schema_ref | to_upper_camel_case if variant.type == "ref" and variant.schema_ref is defined else "" -%}
{% if data_ty and (data_ty in classes or data_ty == type_name or data_ty in ["Builder", "Visitor"]) -%}
{% set data_ty = sdk.java_package ~ ".models." ~ data_ty -%}
{% endif -%}
{% set ns.visited = ns.visited + [[data_ty or classes[loop.index0], "data" if data_ty else "this"]] -%}
{% endfor -%}
{% set visited = ns.visited -%}
{% set vars = m.member_names(type.fields, owner) | split(" ") | reject("equalto", "") | list -%}
{% set pascals = m.field_idents(type.fields, "pascal", owner) | split(" ") | reject("equalto", "") | list -%}
{% set adjacent = type.repr == "adjacently_tagged" -%}
{% set ns.unions = [] -%}
{% for field in type.fields -%}
{% set ns.unions = ns.unions + [m.union_name(field, type_name, pascals[loop.index0])] -%}
{% endfor -%}
{% set unions = ns.unions -%}
{% set shared = type.fields | length > 0 -%}
// This file is @generated
package {{ sdk.java_package }}.models;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonAutoDetect;
import com.fasterxml.jackson.annotation.JsonAutoDetect.Visibility;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSubTypes;
import com.fasterxml.jackson.annotation.JsonTypeInfo;
import com.fasterxml.jackson.annotation.JsonTypeName;
import com.fasterxml.jackson.annotation.JsonUnwrapped;
import com.fasterxml.jackson.annotation.JsonValue;
import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.DeserializationContext;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import java.io.IOException;
import {{ sdk.java_internal_package }}.JsonField;
import {{ sdk.java_internal_package }}.Unions;
import {{ sdk.java_internal_package }}.Utils;
import java.math.BigDecimal;
import java.math.BigInteger;
import java.net.URI;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.Collections;
import java.util.LinkedHashMap;
import java.util.LinkedHashSet;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import java.util.Set;

{% set summary -%}
{% if type.description is defined %}{{ m.html(type.description) }}

{% endif -%}
One of the variants below, told apart by {@code {{ disc }}}. A value this version of the SDK does not know
parses as {@link {{ classes | last }}}, which keeps its properties.
{%- if type.deprecated %}

@deprecated the API deprecates this schema.
{%- endif %}
{%- endset -%}
{{ summary | to_doc_comment(style="java") }}
{% if type.deprecated %}@Deprecated{% endif %}
@JsonTypeInfo(
    use = JsonTypeInfo.Id.NAME,
    include = JsonTypeInfo.As.EXISTING_PROPERTY,
    property = {{ disc | tojson }},
    visible = true,
    defaultImpl = {{ type_name }}.{{ classes | last }}.class
)
@JsonSubTypes({
    {% for variant in type.variants -%}
    @JsonSubTypes.Type(value = {{ type_name }}.{{ classes[loop.index0] }}.class, name = {{ variant.name | tojson }}){% if not loop.last %},{% endif %}

    {% endfor -%}
})
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
@JsonAutoDetect(
        getterVisibility = Visibility.NONE,
        isGetterVisibility = Visibility.NONE,
        setterVisibility = Visibility.NONE)
public abstract class {{ type_name }} {
    {% for field in type.fields -%}
    {{ m.declaration(field, vars[loop.index0], unions[loop.index0]) }}
    {% endfor %}

    private {{ type_name }}() {}
    {% for field in type.fields %}

    {{ m.getter(field, vars[loop.index0], unions[loop.index0]) }}

    {% set ty = m.java_type(field.type, unions[loop.index0]) -%}
    /**
     * A copy of this value with {@code {{ m.html(field.name) }}} set.
     *
     * @param {{ vars[loop.index0] }} the value{% if m.kind(field) == "tri" %}, null to send an explicit {@code null}{% endif %}
     * @return the copy
     */
    public {{ type_name }} with{{ pascals[loop.index0] }}({{ ty }} {{ vars[loop.index0] }}) {
        {{ type_name }} copy = Unions.convert(this, {{ type_name }}.class);
        copy.{{ vars[loop.index0] }} = {% if m.kind(field) == "tri" %}JsonField.ofNullable({{ vars[loop.index0] }}){% else %}{{ vars[loop.index0] }}{% endif %};
        return copy;
    }
    {%- endfor %}

    /**
     * The discriminator value identifying this variant.
     *
     * @return the {@code {{ disc }}} value
     */
    @JsonProperty({{ disc | tojson }})
    public abstract String {{ disc_getter }}();
    {% set taken = namespace(names=vars + [disc_getter]) -%}
    {% for variant in type.variants if variant.type == "struct" and variant.fields is defined and not adjacent -%}
    {% set taken.names = taken.names + (m.member_names(variant.fields, owner ~ ", variant `" ~ variant.name ~ "`") | split(" ") | list) -%}
    {% endfor -%}
    {% for cls in classes -%}
    {% if ("is" ~ cls) not in taken.names and ("as" ~ cls) not in taken.names -%}
    {% set what = "the {@code " ~ m.html(ns.names[loop.index0]) ~ "} variant" if not loop.last else "a variant this version of the SDK does not know" %}

    /**
     * Whether this is {{ what }}.
     *
     * @return whether it is
     */
    public final boolean is{{ cls }}() {
        return this instanceof {{ cls }};
    }

    /**
     * This value as {{ what }}.
     *
     * @return the variant
     * @throws IllegalStateException if this is another variant
     */
    public final {{ cls }} as{{ cls }}() {
        if (this instanceof {{ cls }}) {
            return ({{ cls }}) this;
        }
        throw new IllegalStateException({{ (("not the " ~ ns.names[loop.index0] ~ " variant: ") if not loop.last else "not a known variant: ") | tojson }} + {{ disc_getter }}());
    }
    {%- endif %}
    {%- endfor %}

    /**
     * Calls the method of {@code visitor} for this variant.
     *
     * @param <R> the result type
     * @param visitor the visitor
     * @return the result of the visitor
     */
    public abstract <R> R accept({{ visitor }}<R> visitor);

    /**
     * A function of each variant, called by {@link #accept}.
     *
     * @param <R> the result type
     */
    public interface {{ visitor }}<R> {
        {% for variant in type.variants -%}
        /**
         * Visits the {@code {{ m.html(variant.name) }}} variant.
         *
         * @param value the variant
         * @return the result
         */
        R visit{{ classes[loop.index0] }}({{ visited[loop.index0][0] }} value);

        {% endfor -%}
        /**
         * Visits a variant this version of the SDK does not know.
         *
         * @param value the variant, with its properties
         * @return the result
         * @throws {{ sdk.java_package }}.exceptions.InvalidDataException unless overridden
         */
        default R visitUnknown({{ classes | last }} value) {
            throw new {{ sdk.java_package }}.exceptions.InvalidDataException("unknown {{ type_name }} variant: " + value.{{ disc_getter }}());
        }
    }

    {% if shared -%}
    {{ m.value_methods(type_name, vars) }}
    {% endif %}

    {{ m.json_methods(type_name) }}
    {% for field in type.fields %}{% if unions[loop.index0] %}

    {{ m.union_class(field.type, unions[loop.index0], classes + [type_name]) }}
    {%- endif %}{% endfor %}
    {% for variant in type.variants -%}
    {% set cls = classes[loop.index0] -%}
    {% set content = type.content_field if adjacent else none -%}
    {% set accept -%}
        @Override
        public <R> R accept({{ visitor }}<R> visitor) {
            return visitor.visit{{ cls }}({{ visited[loop.index0][1] }});
        }
    {%- endset %}

    /** The {@code {{ m.html(variant.name) }}} variant. */
    @JsonTypeName({{ variant.name | tojson }})
    public static final class {{ cls }} extends {{ type_name }} {
    {% if variant.type == "ref" and variant.schema_ref is defined -%}
        {% set data_ty = variant.schema_ref | to_upper_camel_case -%}
        {% if data_ty in classes or data_ty == type_name or data_ty in ["Builder", "Visitor"] -%}
            {% set data_ty = sdk.java_package ~ ".models." ~ data_ty -%}
        {% endif -%}
        {% if content -%}
        @JsonProperty({{ content | tojson }})
        {% else -%}
        @JsonUnwrapped
        @JsonIgnoreProperties(value = {{ disc | tojson }}, allowSetters = true)
        {% endif -%}
        private {{ data_ty }} data;

        private {{ cls }}() {}

        /**
         * The variant holding {@code data}.
         *
         * @param data the value of the variant
         */
        public {{ cls }}({{ data_ty }} data) {
            this.data = Objects.requireNonNull(data, "data");
        }

        /**
         * The variant holding {@code data}.
         *
         * @param data the value of the variant
         * @return the variant
         */
        public static {{ cls }} of({{ data_ty }} data) {
            return new {{ cls }}(data);
        }

        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return {{ variant.name | tojson }};
        }

        /**
         * The value of the variant.
         *
         * @return the value
         */
        public {{ data_ty }} data() {
            return data;
        }

        {{ m.value_methods(cls, ["data"], base=shared) }}

        {{ accept }}
    {% elif variant.type == "struct" and variant.fields is defined and variant.fields | length > 0 -%}
        {% set variant_owner = owner ~ ", variant `" ~ variant.name ~ "`" -%}
        {% set fvars = m.member_names(variant.fields, variant_owner) | split(" ") | reject("equalto", "") | list -%}
        {% set fpascals = m.field_idents(variant.fields, "pascal", variant_owner) | split(" ") | reject("equalto", "") | list -%}
        {% set vn = namespace(unions=[]) -%}
        {% for field in variant.fields -%}
        {% set vn.unions = vn.unions + [m.union_name(field, type_name ~ cls, fpascals[loop.index0])] -%}
        {% endfor -%}
        {% set vunions = vn.unions -%}
        {% if content -%}
        @JsonProperty({{ content | tojson }})
        private Content data;

        private {{ cls }}() {}

        /**
         * The variant holding {@code data}.
         *
         * @param data the value of the variant
         */
        public {{ cls }}(Content data) {
            this.data = Objects.requireNonNull(data, "data");
        }

        /**
         * The variant holding {@code data}.
         *
         * @param data the value of the variant
         * @return the variant
         */
        public static {{ cls }} of(Content data) {
            return new {{ cls }}(data);
        }

        /**
         * The value of the variant, under {@code {{ m.html(content) }}}.
         *
         * @return the value
         */
        public Content data() {
            return data;
        }

        {{ m.value_methods(cls, ["data"], base=shared) }}

        /** The properties of the variant. */
        @JsonInclude(JsonInclude.Include.NON_NULL)
        @JsonIgnoreProperties(ignoreUnknown = true)
        @JsonAutoDetect(
                getterVisibility = Visibility.NONE,
                isGetterVisibility = Visibility.NONE,
                setterVisibility = Visibility.NONE)
        public static final class Content {
            {{ m.model_members("Content", variant.fields, fvars, fpascals, vunions, {}) }}
            {% for field in variant.fields %}{% if vunions[loop.index0] %}

            {{ m.union_class(field.type, vunions[loop.index0], classes + [type_name]) }}
            {%- endif %}{% endfor %}
        }
        {% else -%}
        {{ m.model_members(cls, variant.fields, fvars, fpascals, vunions, {}) | replace("public boolean equals(Object o) {\n    if (this == o) {\n        return true;\n    }\n    if (o == null || getClass() != o.getClass()) {", "public boolean equals(Object o) {\n    if (this == o) {\n        return true;\n    }\n    if (o == null || getClass() != o.getClass()" ~ (" || !super.equals(o)" if shared else "") ~ ") {") }}
        {% for field in variant.fields %}{% if vunions[loop.index0] %}

        {{ m.union_class(field.type, vunions[loop.index0], classes + [type_name]) }}
        {%- endif %}{% endfor %}
        {% endif %}

        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return {{ variant.name | tojson }};
        }

        {{ accept }}
    {% else -%}
        /** The variant, which has no other property. */
        public {{ cls }}() {}

        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return {{ variant.name | tojson }};
        }

        {{ accept }}

        {{ m.value_methods(cls, [], base=shared) }}
    {% endif -%}
    }
    {% endfor %}

    /** A variant this version of the SDK does not know. */
    public static final class {{ classes | last }} extends {{ type_name }} {
        @JsonProperty({{ disc | tojson }})
        private String discriminator;

        private final Map<String, JsonNode> properties = new LinkedHashMap<>();

        private {{ classes | last }}() {}

        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return discriminator;
        }

        @Override
        public <R> R accept({{ visitor }}<R> visitor) {
            return visitor.visitUnknown(this);
        }

        /**
         * Every other property of the variant.
         *
         * @return the properties by name, unmodifiable
         */
        @JsonAnyGetter
        public Map<String, JsonNode> properties() {
            return Collections.unmodifiableMap(properties);
        }

        @JsonAnySetter
        private void putProperty(String name, JsonNode value) {
            properties.put(name, value);
        }

        {{ m.value_methods(classes | last, ["discriminator", "properties"], base=shared) }}
    }
}
