{% import "types/macros.java.jinja" as m -%}
{% set type_name = type.name | to_upper_camel_case -%}
{{- m.check_name(type_name) -}}
{% set owner = "schema `" ~ type.name ~ "`" -%}
{% set disc = type.discriminator_field -%}
{% set disc_getter = "get" ~ (disc | ident("pascal", "java")) -%}
{% set ns = namespace(names=[]) -%}
{% for variant in type.variants %}{% set ns.names = ns.names + [variant.name] %}{% endfor -%}
{% set ns.classes = [] -%}
{#- A nested class shadows the types of the same name that the union itself uses. -#}
{% for cls in (ns.names + ["unrecognized"]) | idents("pascal", "java", owner) -%}
{% set shadowed = cls in ["String", "Object", "Override", "Deprecated", "Utils", "Objects", "List",
    "Map", "Set", "Optional", "ArrayList", "HashMap", "LinkedHashMap", "LinkedHashSet", "BigDecimal",
    "OffsetDateTime", "URI", "Visibility", "JsonAnyGetter", "JsonAnySetter", "JsonAutoDetect",
    "JsonIgnoreProperties", "JsonInclude", "JsonProperty", "JsonSubTypes", "JsonTypeInfo",
    "JsonTypeName", "JsonUnwrapped", "JsonProcessingException"] -%}
{% set ns.classes = ns.classes + [cls ~ "Variant" if shadowed else cls] -%}
{% endfor -%}
{% set classes = ns.classes -%}
{% set vars = m.field_idents(type.fields, "camel", owner) | split(" ") | reject("equalto", "") | list -%}
{% set pascals = m.field_idents(type.fields, "pascal", owner) | split(" ") | reject("equalto", "") | list -%}
{% set adjacent = type.repr == "adjacently_tagged" -%}
{% set shared = type.fields | length > 0 -%}
// This file is @generated
package {{ sdk.java_package }}.models;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonAutoDetect;
import com.fasterxml.jackson.annotation.JsonAutoDetect.Visibility;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSubTypes;
import com.fasterxml.jackson.annotation.JsonTypeInfo;
import com.fasterxml.jackson.annotation.JsonTypeName;
import com.fasterxml.jackson.annotation.JsonUnwrapped;
import com.fasterxml.jackson.core.JsonProcessingException;
import {{ sdk.java_package }}.Utils;

import java.math.BigDecimal;
import java.net.URI;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.LinkedHashMap;
import java.util.LinkedHashSet;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import java.util.Set;

{% set summary -%}
{% if type.description is defined %}{{ type.description | e }}

{% endif -%}
One of the variants below, told apart by {@code {{ disc }}}. A value this version of the SDK does not know
parses as {@link Unrecognized}, which keeps its properties.
{%- endset -%}
{{ summary | to_doc_comment(style="java") }}
{% if type.deprecated %}@Deprecated{% endif %}
@JsonTypeInfo(
    use = JsonTypeInfo.Id.NAME,
    include = JsonTypeInfo.As.EXISTING_PROPERTY,
    property = {{ disc | tojson }},
    visible = true,
    defaultImpl = {{ type_name }}.{{ classes | last }}.class
)
@JsonSubTypes({
    {% for variant in type.variants -%}
    @JsonSubTypes.Type(value = {{ type_name }}.{{ classes[loop.index0] }}.class, name = {{ variant.name | tojson }}){% if not loop.last %},{% endif %}

    {% endfor -%}
})
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
@JsonAutoDetect(
        getterVisibility = Visibility.NONE,
        isGetterVisibility = Visibility.NONE,
        setterVisibility = Visibility.NONE)
public abstract class {{ type_name }} {
    {% for field in type.fields -%}
    {{ m.declaration(field, vars[loop.index0]) | replace("private ", "protected ") }}
    {% endfor %}

    {% for field in type.fields -%}
    {{ m.accessors(field, vars[loop.index0], pascals[loop.index0], type_name) }}

    {% endfor -%}

    /** The discriminator value identifying this variant. */
    @JsonProperty({{ disc | tojson }})
    public abstract String {{ disc_getter }}();

    {% if shared -%}
    {{ m.value_methods(type_name, vars) }}
    {% endif %}

    /**
     * Parse {@code json} as {@code {{ type_name }}}.
     *
     * @throws JsonProcessingException if it is not valid JSON of this shape
     */
    public static {{ type_name }} fromJson(String json) throws JsonProcessingException {
        return Utils.fromJson(json, {{ type_name }}.class);
    }

    /** This {{ type_name }} as JSON. */
    public String toJson() throws JsonProcessingException {
        return Utils.toJson(this);
    }
    {% for variant in type.variants -%}
    {% set cls = classes[loop.index0] -%}
    {% set content = type.content_field if adjacent else none -%}

    /** The {@code {{ variant.name | e }}} variant. */
    @JsonTypeName({{ variant.name | tojson }})
    public static final class {{ cls }} extends {{ type_name }} {
    {% if variant.type == "ref" and variant.schema_ref is defined -%}
        {% set data_ty = variant.schema_ref | to_upper_camel_case -%}
        {% if data_ty in classes or data_ty == type_name -%}
            {% set data_ty = sdk.java_package ~ ".models." ~ data_ty -%}
        {% endif -%}
        {% if content -%}
        @JsonProperty({{ content | tojson }})
        {% else -%}
        @JsonUnwrapped
        @JsonIgnoreProperties(value = {{ disc | tojson }}, allowSetters = true)
        {% endif -%}
        private {{ data_ty }} data;

        public {{ cls }}() {}

        public {{ cls }}({{ data_ty }} data) {
            this.data = data;
        }

        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return {{ variant.name | tojson }};
        }

        @javax.annotation.Nonnull
        public {{ data_ty }} getData() {
            return data;
        }

        public {{ cls }} data({{ data_ty }} data) {
            this.data = data;
            return this;
        }

        {{ m.value_methods(cls, ["data"], base=shared) }}
    {% elif variant.type == "struct" and variant.fields is defined and variant.fields | length > 0 -%}
        {% set variant_owner = owner ~ ", variant `" ~ variant.name ~ "`" -%}
        {% set fvars = m.field_idents(variant.fields, "camel", variant_owner) | split(" ") | reject("equalto", "") | list -%}
        {% set fpascals = m.field_idents(variant.fields, "pascal", variant_owner) | split(" ") | reject("equalto", "") | list -%}
        {% set holder = "Content" if content else cls -%}
        {% if content -%}
        @JsonProperty({{ content | tojson }})
        private Content data = new Content();

        public {{ cls }}() {}

        public {{ cls }}(Content data) {
            this.data = data;
        }

        @javax.annotation.Nonnull
        public Content getData() {
            return data;
        }

        public {{ cls }} data(Content data) {
            this.data = data;
            return this;
        }

        {{ m.value_methods(cls, ["data"], base=shared) }}

        @JsonInclude(JsonInclude.Include.NON_NULL)
        @JsonIgnoreProperties(ignoreUnknown = true)
        @JsonAutoDetect(
                getterVisibility = Visibility.NONE,
                isGetterVisibility = Visibility.NONE,
                setterVisibility = Visibility.NONE)
        public static final class Content {
        {% endif -%}
        {% for field in variant.fields -%}
        {{ m.declaration(field, fvars[loop.index0]) }}
        {% endfor %}

        {% for field in variant.fields -%}
        {{ m.accessors(field, fvars[loop.index0], fpascals[loop.index0], holder) }}

        {% endfor -%}
        {% if content -%}
            {{ m.value_methods("Content", fvars) }}
        }
        {% else -%}
        {{ m.value_methods(cls, fvars, base=shared) }}
        {% endif %}

        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return {{ variant.name | tojson }};
        }
    {% else -%}
        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return {{ variant.name | tojson }};
        }

        {{ m.value_methods(cls, [], base=shared) }}
    {% endif -%}
    }
    {% endfor %}

    /** A variant this version of the SDK does not know. */
    public static final class {{ classes | last }} extends {{ type_name }} {
        @JsonProperty({{ disc | tojson }})
        private String discriminator;

        private final Map<String, Object> properties = new LinkedHashMap<>();

        @Override
        @JsonProperty({{ disc | tojson }})
        public String {{ disc_getter }}() {
            return discriminator;
        }

        /** Every other property of the variant. */
        @JsonAnyGetter
        public Map<String, Object> getProperties() {
            return properties;
        }

        @JsonAnySetter
        void setProperty(String name, Object value) {
            properties.put(name, value);
        }

        {{ m.value_methods(classes | last, ["discriminator", "properties"], base=shared) }}
    }
}
