{% import "types/macros.java.jinja" as m -%}
// This file is @generated
{% set class_ty = type.name | to_upper_camel_case -%}
{{- m.check_name(class_ty) -}}
{% set owner = "schema `" ~ type.name ~ "`" -%}
{% set vars = m.field_idents(type.fields, "camel", owner) | split(" ") | reject("equalto", "") | list -%}
{% set pascals = m.field_idents(type.fields, "pascal", owner) | split(" ") | reject("equalto", "") | list -%}
{% set ns = namespace(unions=[]) -%}
{% for field in type.fields -%}
{% set ns.unions = ns.unions + [m.union_name(field, class_ty, pascals[loop.index0])] -%}
{% endfor -%}
{% set unions = ns.unions -%}
{% set defaults = type.discriminator_defaults | default({}) -%}
package {{ sdk.java_package }}.models;

import {{ sdk.java_internal_package }}.Utils;

import com.fasterxml.jackson.annotation.JsonAutoDetect;
import com.fasterxml.jackson.annotation.JsonAutoDetect.Visibility;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonUnwrapped;
{% if unions | select | list -%}
import com.fasterxml.jackson.annotation.JsonValue;
import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.DeserializationContext;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import java.io.IOException;
{% endif -%}
{% if sdk.edition < 2 -%}
import com.fasterxml.jackson.core.JsonProcessingException;
{% endif %}

import java.math.BigDecimal;
import java.net.URI;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.LinkedHashSet;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import java.util.Set;

{% if type.description is defined -%}
{{ m.javadoc(type.description) }}
{% endif -%}
{% if type.deprecated %}@Deprecated{% endif %}
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
@JsonAutoDetect(
        getterVisibility = Visibility.NONE,
        isGetterVisibility = Visibility.NONE,
        setterVisibility = Visibility.NONE)
public class {{ class_ty }} {
{% for field in type.fields -%}
    {{ m.declaration(field, vars[loop.index0], unions[loop.index0], defaults[field.name] if field.name in defaults else none) }}
{% endfor %}

    public {{ class_ty }}() {}

{% for field in type.fields -%}
    {{ m.accessors(field, vars[loop.index0], pascals[loop.index0], class_ty, unions[loop.index0]) }}

{% endfor -%}
    {{ m.value_methods(class_ty, vars) }}

    {{ m.json_methods(class_ty) }}
{% for field in type.fields %}{% if unions[loop.index0] %}

    {{ m.union_class(field.type, unions[loop.index0]) }}
{%- endif %}{% endfor %}
}
