{% import "types/macros.java.jinja" as m -%}
{% set resource_type_name = resource.name | to_upper_camel_case -%}
// this file is @generated
package {{ sdk.java_package }}.api;

{% set edition2 = sdk.edition >= 2 -%}
{% set models = referenced_components | map("to_upper_camel_case") | list -%}
{% set request_options = sdk.java_package ~ ".RequestOptions" if "RequestOptions" in models else "RequestOptions" -%}
import {{ sdk.java_internal_package }}.{{ sdk.client_name }}HttpClient;
{% if resource.operations | selectattr("pagination", "defined") | list | length > 0 -%}
import {{ sdk.java_package }}.Paginator;
{% endif -%}
{% if request_options == "RequestOptions" -%}
import {{ sdk.java_package }}.RequestOptions;
{% endif -%}
import {{ sdk.java_internal_package }}.Utils;
{% if not edition2 -%}
import {{ sdk.java_package }}.exceptions.ApiException;
{% endif -%}
{% set body_kinds = resource.operations | map(attribute="request_body_kind") | list -%}
{% if "multipart" in body_kinds -%}
import {{ sdk.java_package }}.streaming.Multipart;
{% endif -%}
{% if "binary" in body_kinds or "multipart" in body_kinds -%}
import {{ sdk.java_package }}.streaming.Upload;
{% endif -%}
{% if resource.operations | selectattr("response_is_event_stream") | list | length > 0 -%}
import {{ sdk.java_package }}.streaming.EventStream;
{% endif -%}

{% if not edition2 -%}
import java.io.IOException;
{% endif -%}
import java.util.List;
import java.util.Map;

{% if resource.operations | selectattr("response_body_json_type", "defined") | list | length > 0 -%}
import com.fasterxml.jackson.core.type.TypeReference;
{% endif -%}
import okhttp3.Headers;
import okhttp3.HttpUrl;
{% for c in referenced_components -%}
{% if c | to_upper_camel_case != resource_type_name -%}
import {{ sdk.java_package }}.models.{{ c | to_upper_camel_case }};
{% endif -%}
{% endfor -%}



public class {{ resource_type_name }} {
    private final {{ sdk.client_name }}HttpClient client;

    public {{ resource_type_name }}({{ sdk.client_name }}HttpClient client) {
        this.client = client;
    }

    {% set api_resource_extra -%}
        extensions/{{ resource.name | to_snake_case }}.java
    {%- endset %}
    {% include api_resource_extra ignore missing %}

{% for op in resource.operations if op.request_body_kind == "multipart" %}
    {% set names = op.multipart_fields | map(attribute="name") | list -%}
    {% set fields = names | idents("camel", "java", "operation `" ~ op.id ~ "`") -%}
    {% set accessors = names | idents("pascal", "java", "operation `" ~ op.id ~ "`") -%}
    /** Multipart form fields of {@link #{{ op.name | ident("camel", "java") }}}. */
    public static class {{ op.name | to_upper_camel_case }}Body {
        {% for field in op.multipart_fields -%}
        private {% if field.is_file %}Upload{% else %}{{ field.type.to_java() }}{% endif %} {{ fields[loop.index0] }};
        {% endfor %}
        {% for field in op.multipart_fields -%}
        {% set ty = "Upload" if field.is_file else field.type.to_java() -%}
        {% set accessor = accessors[loop.index0] ~ ("_" if accessors[loop.index0] == "Class" else "") -%}
        {% if field.description is defined -%}
        {{ m.javadoc(field.description) }}
        {% endif -%}
        public {{ ty }} get{{ accessor }}() {
            return {{ fields[loop.index0] }};
        }

        public void set{{ accessor }}({{ ty }} {{ fields[loop.index0] }}) {
            this.{{ fields[loop.index0] }} = {{ fields[loop.index0] }};
        }

        {% endfor -%}
    }
{% endfor %}

{% for op in resource.operations -%}
    {% set throws = "" if edition2 else " throws IOException, ApiException" -%}
    {% set res_type = "void" -%}
    {% set terminal = "send" if edition2 else "execute" -%}
    {% set res_java_type = none -%}
    {% if op.response_is_event_stream -%}
        {% set res_type = "EventStream" -%}
    {% elif op.response_is_binary -%}
        {% set res_type = "byte[]" -%}
    {% elif op.response_body_json_type is defined -%}
        {% set res_type = op.response_body_json_type.to_java() -%}
        {% set res_java_type = "client.typeOf(new TypeReference<" ~ res_type ~ ">() {})" -%}
    {% elif op.response_body_schema_name is defined -%}
        {% set res_item = op.response_body_schema_name | to_upper_camel_case -%}
        {% if op.response_body_is_list -%}
            {% set res_type = "List<" ~ res_item ~ ">" -%}
            {% set res_java_type = "client.listOf(" ~ res_item ~ ".class)" -%}
        {% else -%}
            {% set res_type = res_item -%}
            {% set res_java_type = res_item ~ ".class" -%}
        {% endif -%}
    {% endif -%}
    {% set has_body = op.request_body_schema_name is defined or op.request_body_json_type is defined -%}
    {% if op.request_body_schema_name is defined -%}
        {% set req_body_type = op.request_body_schema_name | to_upper_camel_case -%}
        {% if op.request_body_is_list %}{% set req_body_type = "List<" ~ req_body_type ~ ">" %}{% endif -%}
        {% set req_body_field_name = op.request_body_schema_name | ident("camel", "java") -%}
        {% if req_body_field_name in ["options", "url", "headers", "client"] or req_body_field_name in (op.path_params | map("ident", "camel", "java") | list) -%}
            {% set req_body_field_name = "body" -%}
        {% endif -%}
    {% elif op.request_body_json_type is defined -%}
        {% set req_body_type = op.request_body_json_type.to_java() -%}
        {% set req_body_field_name = "body" -%}
    {% endif -%}
    {% set op_name = op.name | ident("camel", "java") -%}
    {% if op.security is defined -%}
        {% set http_client -%}
            client.withSecurity(List.of({%- for names in op.security %}{% if not loop.first %}, {% endif %}List.of({%- for name in names %}{% if not loop.first %}, {% endif %}{{ name | tojson }}{% endfor -%}){% endfor -%}))
        {%- endset -%}
    {% else -%}
        {% set http_client = "client" -%}
    {% endif -%}
    {% if op.request_body_kind == "multipart" -%}
        {% set mp = namespace(accessors=[]) -%}
        {% for a in op.multipart_fields | map(attribute="name") | list | idents("pascal", "java", "operation `" ~ op.id ~ "`") -%}
            {% set mp.accessors = mp.accessors + [a ~ ("_" if a == "Class" else "")] -%}
        {% endfor -%}
        {% set multipart_accessors = mp.accessors -%}
    {% endif -%}
    {% set path_args = op.path_params | idents("camel", "java", "operation `" ~ op.id ~ "`") -%}
    {% set options_type = resource_type_name ~ (op.name | to_upper_camel_case) ~ "Options" -%}
    {% set has_options = op | has_query_or_header_params -%}
    {% set doc -%}
        {% if op.description or op.deprecated -%}
        {{ m.html(op.description | default("")) | with_javadoc_deprecation(op.deprecated) | to_doc_comment(style="java") }}
        {% endif -%}
        {% if op.deprecated %}@Deprecated{% endif %}
    {%- endset -%}
    {% set func_args -%}
        {% for p in path_args -%}
            final String {{ p }},
        {% endfor -%}
        {% if has_body -%}
            final {{ req_body_type }} {{ req_body_field_name }},
        {% elif op.request_body_kind == "binary" -%}
            final Upload body,
        {% elif op.request_body_kind == "multipart" -%}
            final {{ op.name | to_upper_camel_case }}Body body,
        {% endif -%}
    {% endset -%}
    {% set call_args -%}
        {%- for p in path_args %}{{ p }}, {% endfor -%}
        {%- if has_body %}{{ req_body_field_name }}, {% elif op.request_body_kind in ["binary", "multipart"] %}body, {% endif -%}
    {% endset -%}

    {{ doc }}
    public {{ res_type }} {{ op_name }}({{ func_args | strip_trailing_comma }}){{ throws }} {
        {% if res_type != "void" %}return {% endif %}{{ op_name }}({{ call_args }}{% if has_options %}new {{ options_type }}(), {% endif %}{{ request_options }}.none());
    }
    {% if has_options %}

    {{ doc }}
    public {{ res_type }} {{ op_name }}({{ func_args }}final {{ options_type }} options){{ throws }} {
        {% if res_type != "void" %}return {% endif %}{{ op_name }}({{ call_args }}options, {{ request_options }}.none());
    }
    {% if edition2 %}

    {{ doc }}
    public {{ res_type }} {{ op_name }}({{ func_args }}final {{ request_options }} requestOptions) {
        {% if res_type != "void" %}return {% endif %}{{ op_name }}({{ call_args }}new {{ options_type }}(), requestOptions);
    }
    {% endif %}
    {% endif %}

    {{ doc }}
    public {{ res_type }} {{ op_name }}(
            {{ func_args }}
            {%- if has_options %}final {{ options_type }} options, {% endif -%}
            final {{ request_options }} requestOptions){{ throws }} {
        {% set ns = namespace(literal=[], calls=[], expr="") -%}
        {% set path_and_query = op.path | split("?") | list -%}
        {% for segment in (path_and_query[0] | split("/") | list)[1:] -%}
            {% if "{" in segment -%}
                {% if ns.literal | length > 0 -%}
                    {% set ns.calls = ns.calls + [".addPathSegments(" ~ (ns.literal | join("/") | tojson) ~ ")"] -%}
                    {% set ns.literal = [] -%}
                {% endif -%}
                {% set ns.expr = segment | tojson -%}
                {% for p in op.path_params -%}
                    {% set ns.expr = ns.expr | replace("{" ~ p ~ "}", "\" + " ~ path_args[loop.index0] ~ " + \"") -%}
                {% endfor -%}
                {% set expr = ns.expr | replace("\"\" + ", "") | replace(" + \"\"", "") -%}
                {% set name = segment[1:-1] if segment[1:-1] in op.path_params else segment -%}
                {% set ns.calls = ns.calls + [".addPathSegment(Utils.pathSegment(" ~ (name | tojson) ~ ", " ~ expr ~ "))"] -%}
            {% else -%}
                {% set ns.literal = ns.literal + [segment] -%}
            {% endif -%}
        {% endfor -%}
        {% if ns.literal | length > 0 -%}
            {% set ns.calls = ns.calls + [".addPathSegments(" ~ (ns.literal | join("/") | tojson) ~ ")"] -%}
        {% endif -%}
        {% if path_and_query | length > 1 -%}
            {% set ns.calls = ns.calls + [".encodedQuery(" ~ (path_and_query[1:] | join("?") | tojson) ~ ")"] -%}
        {% endif -%}
        {% set has_query = op.query_params | length > 0 -%}
        {% if not has_query -%}
        HttpUrl url = client.newUrlBuilder(){{ ns.calls | join("") }}.build();
        {% else -%}
        HttpUrl.Builder url = client.newUrlBuilder(){{ ns.calls | join("") }};
        {% set query_fields = op.query_params | map(attribute="name") | list | idents("pascal", "java", "operation `" ~ op.id ~ "`") -%}
        {% for p in op.query_params -%}
        {% set getter = "options.get" ~ query_fields[loop.index0] ~ ("_" if query_fields[loop.index0] == "Class" else "") ~ "()" -%}
        {% set explode = p.explode | default(true) -%}
        if ({{ getter }} != null) {
            {% if p.structured -%}
            Utils.addStructuredQueryParameter(url, {{ p.name | tojson }}, {{ getter }}, {{ p.deep_object | lower }}, {{ explode | lower }});
            {% elif (p.type.is_list() or p.type.is_set()) and explode -%}
            Utils.addExplodedQueryParameter(url, {{ p.name | tojson }}, {{ getter }});
            {% elif p.type.is_string() -%}
            url.addQueryParameter({{ p.name | tojson }}, {{ getter }});
            {% else -%}
            url.addQueryParameter({{ p.name | tojson }}, Utils.serializeQueryParam({{ getter }}));
            {% endif -%}
        }
        {% endfor -%}
        {% endif -%}
        {% if op.header_params | length > 0 -%}
        {% set header_fields = op.header_params | map(attribute="name") | list | idents("pascal", "java", "operation `" ~ op.id ~ "`") -%}
        Headers.Builder headers = new Headers.Builder();
        {% for p in op.header_params -%}
        {% set getter = "options.get" ~ header_fields[loop.index0] ~ ("_" if header_fields[loop.index0] == "Class" else "") ~ "()" -%}
        if ({{ getter }} != null) {
            headers.set({{ p.name | tojson }}, {{ getter }});
        }
        {% endfor -%}
        {% endif -%}
        {% set chain = [] -%}
        {% if op.header_params | length > 0 %}{% set chain = chain + [".headers(headers.build())"] %}{% endif -%}
        {% if op.request_body_kind == "binary" -%}
            {% set body_expr = "body.toRequestBody(" ~ (op.request_body_content_type | default("application/octet-stream") | tojson) ~ ")" -%}
            {% set chain = chain + [".body(" ~ ("body == null ? null : " if op.request_body_optional else "") ~ body_expr ~ ")"] -%}
        {% elif op.request_body_kind == "multipart" -%}
            {% set body_expr -%}
                new Multipart()
                {%- for field in op.multipart_fields %}
                    .{% if field.is_file %}file{% else %}field{% endif %}({{ field.name | tojson }}, body.get{{ multipart_accessors[loop.index0] }}())
                {%- endfor %}
                    .build()
            {%- endset -%}
            {% set chain = chain + [".body(" ~ ("body == null ? null : " if op.request_body_optional else "") ~ body_expr ~ ")"] -%}
        {% elif has_body and op.request_body_is_form -%}
            {% set chain = chain + [".form(" ~ req_body_field_name ~ ", List.of(" ~ (op.form_deep_object | default([]) | map("tojson") | join(", ")) ~ "), List.of(" ~ (op.form_unexploded | default([]) | map("tojson") | join(", ")) ~ "))"] -%}
        {% elif has_body -%}
            {% set chain = chain + [".json(" ~ req_body_field_name ~ ")"] -%}
        {% endif -%}
        {% if op.errors -%}
            {% set errs = namespace(schemas=[], statuses=[], calls=[]) -%}
            {% for status, schema in op.errors | items %}{% if schema not in errs.schemas %}{% set errs.schemas = errs.schemas + [schema] %}{% endif %}{% endfor -%}
            {% for schema in errs.schemas -%}
                {% set errs.statuses = [] -%}
                {% for status, s in op.errors | items %}{% if s == schema %}{% set errs.statuses = errs.statuses + [status | tojson] %}{% endif %}{% endfor -%}
                {% set errs.calls = errs.calls + [".errors(" ~ sdk.java_package ~ ".models." ~ (schema | to_upper_camel_case) ~ ".class, " ~ (errs.statuses | join(", ")) ~ ")"] -%}
            {% endfor -%}
            {% set chain = chain + errs.calls -%}
        {% endif -%}
        {% set chain = chain + [".options(requestOptions)"] -%}
        {% if op.response_is_event_stream -%}
            {% set chain = chain + ["." ~ terminal ~ "EventStream()"] -%}
        {% elif op.response_is_binary -%}
            {% set chain = chain + ["." ~ terminal ~ "Bytes()"] -%}
        {% else -%}
            {% set chain = chain + ["." ~ terminal ~ "(" ~ (res_java_type or "Void.class") ~ ")"] -%}
        {% endif -%}
        {% if res_type != "void" %}return {% endif -%}
        {{ http_client }}.call({{ op.method | upper | tojson }}, {{ "url.build()" if has_query else "url" }})
            {{ chain | join("\n            ") }};
    }
    {% if op.pagination is defined -%}
    {% set pg = op.pagination -%}
    {% set param = (op.query_params | selectattr("name", "equalto", pg.param) | first) -%}
    {% set item_ty = pg.item_schema | to_upper_camel_case -%}
    {% set params = op.query_params + op.header_params -%}
    {% set pager = namespace(accessors=[], param="") -%}
    {% for a in params | map(attribute="name") | list | idents("pascal", "java", "operation `" ~ op.id ~ "`") -%}
        {% set pager.accessors = pager.accessors + [a ~ ("_" if a == "Class" else "")] -%}
        {% if params[loop.index0].name == pg.param %}{% set pager.param = a ~ ("_" if a == "Class" else "") %}{% endif -%}
    {% endfor -%}
    {% set pager_accessors = pager.accessors -%}
    {% set param_accessor = pager.param -%}

    /** Iterates over every item of {@link #{{ op_name }}}, fetching further pages on demand. */
    public Paginator<{{ item_ty }}> {{ op_name }}Iter({{ func_args | strip_trailing_comma }}) {
        return {{ op_name }}Iter({{ call_args }}new {{ options_type }}(), {{ request_options }}.none());
    }

    /** Iterates over every item of {@link #{{ op_name }}}, fetching further pages on demand. */
    public Paginator<{{ item_ty }}> {{ op_name }}Iter({{ func_args }}final {{ options_type }} options) {
        return {{ op_name }}Iter({{ call_args }}options, {{ request_options }}.none());
    }

    {% if edition2 -%}
    /** Iterates over every item of {@link #{{ op_name }}}, fetching further pages on demand. */
    public Paginator<{{ item_ty }}> {{ op_name }}Iter({{ func_args }}final {{ request_options }} requestOptions) {
        return {{ op_name }}Iter({{ call_args }}new {{ options_type }}(), requestOptions);
    }

    {% endif -%}
    /** Iterates over every item of {@link #{{ op_name }}}, fetching further pages on demand. */
    public Paginator<{{ item_ty }}> {{ op_name }}Iter(
            {{ func_args }}final {{ options_type }} options, final {{ request_options }} requestOptions) {
        return new Paginator<>(
                new Paginator.Spec(
                        {{ pg.style | tojson }},
                        {% for key in ["items", "next_cursor", "item_cursor", "has_more", "total_pages", "total"] -%}
                        {% if pg[key] is not defined -%}
                        null,
                        {% elif key == "item_cursor" -%}
                        {{ pg.item_cursor | tojson }},
                        {% else -%}
                        List.of({% for segment in pg[key] %}{% if not loop.first %}, {% endif %}{{ segment | tojson }}{% endfor %}),
                        {% endif -%}
                        {% endfor -%}
                        {{ pg.first_page }}L),
                options.get{{ param_accessor }}(),
                param -> {
                    {{ options_type }} page = new {{ options_type }}();
                    {% for a in pager_accessors -%}
                    page.set{{ a }}(options.get{{ a }}());
                    {% endfor -%}
                    if (param != null) {
                        {% if pg.style == "cursor" -%}
                        page.set{{ param_accessor }}((String) param);
                        {% else -%}
                        {% set jt = param.type.to_java() -%}
                        page.set{{ param_accessor }}(((Number) param).{% if jt == "Long" %}longValue{% elif jt == "Short" %}shortValue{% else %}intValue{% endif %}());
                        {% endif -%}
                    }
                    return this.{{ op_name }}({{ call_args }}page, requestOptions);
                },
                {{ item_ty }}.class);
    }
    {% endif -%}
    {% set api_operation_extra -%}extensions/{{ resource.name | to_snake_case }}_{{ op.name | to_snake_case }}.java{% endset %}
    {% include api_operation_extra ignore missing %}
{% endfor %}
}
