{% import "macros.cs.jinja" as m -%}
{% import "docs.jinja" as docs -%}
{% set test_class = (resource.name | to_upper_camel_case) ~ "Tests" -%}
{% set _ = set_summary_filename(test_class ~ ".cs") -%}
// this file is @generated
#pragma warning disable CS0612, CS0618 // the API may deprecate operations
{% set kinds = namespace(list=[]) %}{% for case in cases %}{% for a in case.path_args %}{% set kinds.list = kinds.list + [a.kind] %}{% endfor %}{% endfor -%}
{% if "uuid" in kinds.list or "date" in kinds.list %}using System;
{% endif %}using System.Threading.Tasks;
using Xunit;

namespace {{ sdk.package_name }}.Tests;

public class {{ test_class }}
{
{%- for case in cases %}
{%- set op = resource.operations[case.index] %}
{%- set args = namespace(list=[]) %}
{%- for arg in case.path_args %}{% set args.list = args.list + [docs.literal(arg)] %}{% endfor %}
{%- if case.body %}{% set args.list = args.list + ["PerseidMock.Decode<global::" ~ sdk.package_name ~ ".Models." ~ (case.body.schema | to_upper_camel_case) ~ ">(" ~ (case.body.json | tojson) ~ ")"] %}{% endif %}
{%- set call = "mock.Client." ~ (docs.resource(resource.path) | replace("client.", "")) ~ "." ~ docs.method(op) ~ "(" ~ (args.list | join(", ")) ~ ")" %}

    [Fact]
    public async Task {{ op.name | to_upper_camel_case }}()
    {
        using var mock = new PerseidMock({{ case.response.status }}, {{ case.response.content_type | tojson if case.response.content_type else "null" }}, {{ case.response.body | tojson }});
{%- if op.response_is_event_stream %}
        await using var stream = await {{ call }};
        await foreach (var item in stream)
        {
            Assert.NotNull(item);
        }
{%- else %}
        await {{ call }};
{%- endif %}
        Assert.Equal(new[] { {{ (case.method ~ " " ~ case.path) | tojson }} }, mock.Requests);
    }
{%- endfor %}
}
