{% import "macros.cs.jinja" as m -%}
{% set type_name = type.name | to_upper_camel_case -%}
// this file is @generated
using System.Text.Json.Serialization;

namespace {{ sdk.package_name }}.Models;

{% if type.description is defined -%}
{{ m.doc(type.description) }}
{% else -%}
/// <summary>
/// One of the known values below, or any other integer a newer API version sends.
/// </summary>
{% endif -%}
[JsonConverter(typeof(IntegerEnumConverter<{{ type_name }}>))]
public readonly partial record struct {{ type_name }}(long Value) : IIntegerEnum<{{ type_name }}>
{
{% for varname, value in type.variants -%}
{% set name = m.member(varname, type_name) -%}
{% if name in ["Value", "FromValue", "IsKnown", "Equals", "GetHashCode", "ToString"] %}{% set name = name ~ "Variant" %}{% endif -%}
    public static {{ type_name }} {{ name }} { get; } = new({{ value }});
{% endfor %}
    /// <summary>Whether this SDK version knows the value.</summary>
    public bool IsKnown => Value is {% for _, value in type.variants %}{{ value }}{% if not loop.last %} or {% endif %}{% endfor %};

    public static {{ type_name }} FromValue(long value) => new(value);

    public static implicit operator {{ type_name }}(long value) => new(value);

    public override string ToString() => Json.Invariant(Value);
}
