{% import "macros.cs.jinja" as m -%}
{% set type_name = type.name | to_upper_camel_case -%}
// this file is @generated
{% include "types/usings.cs.jinja" %}

namespace {{ sdk.package_name }}.Models;
{% if type.description is defined %}
{{ m.doc(type.description) }}
{%- else %}
/// <summary>The <c>{{ type.name }}</c> object.</summary>
{%- endif %}
{%- if type.deprecated %}
[Obsolete("Deprecated by the API.")]
{%- endif %}
public sealed partial record {{ type_name }}
{
{%- filter indent(4) %}
{%- with fields = type.fields, owner = type_name, union_owner = type_name, lead = false %}{% include "types/fields.cs.jinja" %}{% endwith %}
{%- with fields = type.fields, owner = type_name, extension = true, sealed = true, lead = type.fields | length > 0 %}{% include "types/members.cs.jinja" %}{% endwith %}
{%- endfilter %}
}
{%- with fields = type.fields, union_owner = type_name %}{% include "types/unions.cs.jinja" %}{% endwith %}

