#pragma warning disable CS0612, CS0618 // generated code may use deprecated API
using System;
using System.Collections.Generic;
using System.Text.Json;
using System.Text.Json.Nodes;
using System.Text.Json.Serialization;
