{% from "types/macros.rs.jinja" import struct_fields, struct_new -%}
use serde::{Deserialize, Serialize};

{% if referenced_components -%}
use super::{
    {% for c in referenced_components -%}
        {{ c | to_rust_ident }}::{{ c | to_upper_camel_case }},
    {% endfor -%}
};
{% endif %}

{% set recursive = recursive_refs | map("to_upper_camel_case") | list -%}
{{ doc_comment }}
#[derive(Clone, Debug, Default, PartialEq, Deserialize, Serialize)]
pub struct {{ type.name | to_upper_camel_case }} {
    {{ struct_fields(type.fields, recursive, patch_body) }}
}

impl {{ type.name | to_upper_camel_case }} {
    {{ struct_new(type.fields, recursive) }}
}
