{% from "types/macros.py.jinja" import docstring -%}
import typing as t

{{ type.name | to_upper_camel_case }}: t.TypeAlias = str
{% if type.description is defined -%}
{{ docstring(type.description) }}
{% endif -%}
