{% from "types/macros.ts.jinja" import js_type -%}
{% for c in referenced_components -%}
import type { {{ c | to_upper_camel_case }} } from "./{{ c | to_lower_camel_case }}";
{% endfor -%}

{{ doc_comment }}
export type {{ type.name | to_upper_camel_case }} = {{ js_type(type.target) }};
