{% import "types/macros.ts.jinja" as m -%}
{% set type_name = type.name | to_upper_camel_case -%}
{{ doc_comment }}
export type {{ type_name }} = string;

export const {{ type_name }}Serializer = {
    parse(json: any): {{ type_name }} {
        return json;
    },

    serialize(value: {{ type_name }}): any {
        return value;
    },
{{ m.legacy_aliases(type_name) }}
};
