{% set type_name = type.name | to_upper_camel_case -%}
{{ doc_comment }}
export type {{ type_name }} = string;

/** Converts `{{ type_name }}` values from (`parse`) and to (`serialize`) their JSON form. */
export const {{ type_name }}Serializer = {
    parse(json: any, path = "$"): {{ type_name }} {
        return decodeString(json, path);
    },

    serialize(value: {{ type_name }}): any {
        return value;
    },
};
